#main_container {
  position: relative;
  display: block;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#report {
  position: absolute;
  border: 2px solid black;
  margin: 0px;
  width: 960px;
  top: 730px;
  height: 0px;
  visibility: hidden;
}

#canvas {
  position: absolute;
  border: 2px solid black;
  display: inline-block;
  margin: 0px;
  left: 0px;
}

#documentation {
  position: absolute;
  width:  260px;
  border: 2px solid black;
  z-index: 10;
  border-radius: 10px;
  background-color: #B0B0F0;
  display: none;
  padding: 10px;
}

#controls {
  position: absolute;
  top: 40px;
  left: 730px;
  height: 600px;
  width: 220px;
  border: 2px solid green;
  margin: 0px;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
}

#button_start {
  position: absolute;
  left: 735px;
  top: 5px;
}

#button_reset {
  position: absolute;
  left: 845px;
  top: 5px;
}

#button_apply {
  position: absolute;
  left: 730px;
  top: 655px;
}

#button_revert {
  position: absolute;
  left: 730px;
  top: 690px;
}

.button-full {
  width: 225px;
  height: 30px;
}

.button-left {
  width: 100px;
  height: 30px;
}

.button-right {
  width: 100px;
  height: 30px;
}

ul {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  font-weight: normal;

}

fieldset {
  font-size: 12pt;
  font-weight: bold;
  margin: 3px;
  width: 160px;
}

fieldset[disabled="true"] {
  background-color: #EEE;
}

fieldset[disabled="false"] {

}

fieldset legend {
  cursor: pointer;
  border: 2px solid #CCC;
}

input[type="number"] {
  width: 100%;
  font-size: 8pt;
  text-align: right;
  padding: 2px;
}

input[type="text"] {
  width: 100%;
  font-size: 8pt;
  text-align: right;
  padding: 2px;
}

.span-left {
  width: 60%;
  height: 18pt;
  float: left;
  text-align: left;
  font-size: 9pt;
}

.span-right {
  width: 35%;
  height: 18pt;
  float: right;
  text-align: right;
}

.hoverdoc {
  cursor: help;
}



.title {
  display: inline;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.range {
  display: inline;
  margin: 0;
  padding: 0;
  left-padding: 2em;
}

.desc {
  text-indent: 2em;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  margin: 0px;
  text-align: center;
}

.flot {
  position: absolute;
  width: 210px;
  height: 160px;
  top: 20px;
  left: 1px;
  margin: 0px;
}

.report_container {
  position: absolute;
  width: 1190px;
  height: 200px;
  left: 5px;
  margin: 0px;
  padding: 0px;
}

.report_flot {
  position: absolute;
  width: 1190px;
  height: 180px;
  top: 20px;
  left: 4px;
  margin: 0px;
}

.report_columns {
  position: absolute;
  height: 60px;
  top: 200px;
  left: 0px;
  margin: 0px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.report_single_column {
  position: absolute;
  width: 150px;
  height: 50px;
  padding: 5px;
  text-align: right;
}
