#main_container {
  display: block;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#canvas {
  border: 2px solid black;
  display: inline-block;
  margin: 0px;
}

#documentation {
  position: absolute;
  width:  260px;
  border: 2px solid black;
  z-index: 10;
  border-radius: 10px;
  background-color: #B0B0F0;
  display: none;
  padding: 10px;
}

#controls {
  height: 720px;
  width: 220px;
  border: 2px solid green;
  margin: 0px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

#debug_container {
  width: 945px;
  height: 50px;
  border: 1px solid red;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  border: 0px;
  margin: 0px;
  padding: 0px;
} 

li {
  list-style: none;
  font-weight: normal;
  
}

fieldset {
  font-size: 12pt;
  font-weight: bold;
  margin: 3px;
  width: 187px;
}

fieldset[disabled="true"] {
  background-color: #EEE;
}

fieldset[disabled="false"] {

}

fieldset legend {
  cursor: pointer;
  border: 2px solid #CCC;
}

input[type="number"] {
  width: 100%;
  font-size: 8pt;
  text-align: right;
  padding: 2px;
}

.span-left {
  width: 60%;
  height: 18pt;
  float: left;
  text-align: left;
  font-size: 10pt;
}

.span-right {
  width: 35%;
  height: 16pt;
  float: right;
  text-align: right;
}

.hoverdoc {
  cursor: help;
}

.button-left {
  width: 50%;
  height: 40px;
  float: left;
  text-align: left;
}

.button-right {
  width: 50%;
  height: 40px;
  float: right;
  text-align: right;
}

button {
  display: block;
  padding: 5px;
  margin: 5px auto;
  width: 90%;
}

.title {
  display: inline;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.range {
  display: inline;
  margin: 0;
  padding: 0;
  left-padding: 2em;
}

.desc {
  text-indent: 2em;
  margin: 0;
  padding: 0;
}
